@model List<MovieBooking.Web.ApiContracts.ShowTimes.ShowTimeResponse>
<h2 class="mt-4">⏰ ShowTimes</h2>

<a asp-action="AddShowTime" class="btn btn-primary mb-3">➕ Add ShowTime</a>

<table class="table table-bordered shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Movie</th>
            <th>Theatre</th>
            <th>Screen</th>
            <th>Language</th>
            <th>Time</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var st in Model)
        {
            <tr>
                <td>@st.MovieTitle</td>
                <td>@st.TheatreName</td>
                <td>@st.ScreenName</td>
                <td>@st.LanguageName</td>
                <td>@st.StartTime.ToString("dd-MM-yyyy HH:mm")</td>
                <td>₹@st.BasePrice</td>
            </tr>
        }

    </tbody>
</table>
